html, body {
    min-height: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.header {
    display: grid;
    grid-template-columns: 435px 148px 422px;
    padding: 93px 49.48px 0 46px;
    align-items: center;
    margin-bottom: 92px;
}

.header__logo {
    display: block;
}

.header__logo-image {
    width: 136px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    list-style: circle;
}

.header__link {
    font-family: Raleway, sans-serif;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0.005em;
    margin-left: 5.5px;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.header__links-list-item {
    margin-right: 27px;
}

.header__link_active {
    text-decoration: none;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.address {
    width: 240.52px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    justify-self: right;
    text-align: left;
    color: #000000;
    font-size: 18px;
    line-height: 24.3px;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 4px;
}

.cover {
    position: relative;
    display: grid;
    background-image: url(../images/cover.jpg); 
    min-height: 757px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding: 165px 0 0 50px;
} 

.cover__title {
    display: flex;
    flex-direction: column;
    font-family: Raleway, sans-serif;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 115px;
    z-index: 2;
}

.aligned-text {
    align-self: flex-start;
    letter-spacing: 29.7px;
}

.aligned-text_center {
    align-self: center;
    line-height: 100px;
    letter-spacing: 30px;
    margin-top: 19px; 
}

.letter-spacing {
    font: normal;
    margin-left: -23px;
}

.letter-spacing-extended {
    font: normal;
    margin-bottom: 50px;
    margin-right: 80px;
    margin-left: -24px;
}

.aligned-text_right {
    align-self: flex-end;
    line-height: 100px;
    margin-top: 20px; 
}

.no-letter-spacing {
    font: normal;
    letter-spacing: 30px;
    padding-left: 35px;
    padding-right: 20px;
}

.cover__description {
    display: flex;
    align-content: end;
    justify-content: space-between;
    margin: 133px 50px 51px 28px;
    z-index: 2;
}

.cover__description-text {
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
    letter-spacing: 0.15px;
    padding-top: 13px;
}

.bet-button {
    border: 1px solid #fff;
    padding: 12px 32px 11px 31px;
    justify-content: flex-end;
    text-decoration: none;
}

.bet-button-text {
    font-family: Raleway, sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 25px;
}

.lots__heading {
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px; 
    color: #000;
    text-transform: uppercase;
    margin: 179px 0 27px 64px;
}

.card {
    max-width: 1052px;
    min-height: 563px;
    display: flex;
    flex-wrap: wrap;
    gap: 0 25px;
    margin-left: 25px;
    margin-bottom: 32px;
}

.card_type {
    position: relative;
    display: grid;
    width: 334px;
    align-content: space-between;
    color: #fff;
    padding: 51px 40px 48px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__card-list-item {
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    z-index: 2;
}

.card-text {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.001em;
    width: 254px;
    z-index: 2;
}

.card-link {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px; 
    text-transform: lowercase;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    margin-left: 64px;
}

.about {
    padding: 0 24px 0 25px;
}

.about__column {
    display: grid;
    grid-template-columns: 334px 724px;
}  

.about__logo {
    justify-content: center;
    align-items: center; 
    width: 240px;
    height: 240px;
    background: #000000;
    border-radius: 50%;
    margin: 181px 0 0 46px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    position: relative;
    top: 64px;
    right: 45.52px;
    bottom: 62px;
    left: 46.48px;
}

.about__title {
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px; 
    text-transform: uppercase;
    letter-spacing: 0.004em;
    margin: 282px 0 100px 23px;
}

.about__text {
    margin-top: 24px;
    margin-left: 24px;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: 400;
    word-spacing: 1px;
    line-height: 24px;
    letter-spacing: 0.003em;
} 

.footer {
    display: grid;
    grid-template-columns: 240.52px 518.96px 240.52px;
    margin-top: 180px;
    margin-bottom: 88px;
    margin-left: 52px;
}

.footer__menu {
    margin-top: 1px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

.footer__menu-link {
    font-family: Raleway, sans-serif;
    color: #000000;
    font-size: 18px;
    line-height: 21.13px;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.footer__menu-list-item .footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: grid;
    grid-template-columns: 48px 48px 48px;
    grid-template-rows: 48px;
    gap: 48px;
    justify-content: space-between;
}